:root {
  --background: 225 47% 2%;
  --foreground: 225 29% 98%;

  --muted: 195 33% 15%;
  --muted-foreground: 195 12% 60%;

  --popover: 225 47% 3%;
  --popover-foreground: 225 29% 99%;

  --card: 225 6.67% 11.76%;
  --card-foreground: 0 0% 100%;

  --primary: 0 0% 100%;
  --primary-foreground: 225 40% 1.96%;

  --secondary: 195 7% 12%;
  --secondary-foreground: 195 7% 72%;

  --accent: 173.82 100% 40%;
  --accent-foreground: 225 40% 1.96%;

  --destructive: 19 99% 46%;
  --destructive-foreground: 0 0% 100%;


  --utility: 216 14.29% 93.14%;
  --input: 174.1 100% 23.92%;
  --input-background: 174.1 100% 23.92%/20%;
  --input-foreground: 225 99% 98%;

  --border: 225 8% 10%;
  --ring: 174.1 47% 90%;
    }

.dark {
  --background: 225 47% 2%;
  --foreground: 225 29% 98%;

  --muted: 195 33% 15%;
  --muted-foreground: 195 12% 60%;

  --popover: 225 47% 3%;
  --popover-foreground: 225 29% 99%;

  --card: 225 6.67% 11.76%;
  --card-foreground: 0 0% 100%;

  --primary: 0 0% 100%;
  --primary-foreground: 225 40% 1.96%;

  --secondary: 195 7% 12%;
  --secondary-foreground: 195 7% 72%;

  --accent: 173.82 100% 40%;
  --accent-foreground: 225 40% 1.96%;

  --destructive: 19 99% 46%;
  --destructive-foreground: 0 0% 100%;


  --input: 174.1 100% 23.92%;
  --input-background: 174.1 100% 23.92%/20%;
  --input-foreground: 225 99% 98%;

  --border: 225 8% 10%;
  --ring: 174.1 47% 90%;
}

