@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98.04%;
    --foreground: 225 70% 4%;

    --muted: 216 14% 93%;
    --muted-foreground: 225 7% 12%;

    --popover: 225 40% 98%;
    --popover-foreground: 225 70% 3%;

    --card: 0 0% 100%;
    --card-foreground: 216 8.2% 11.96%;

    --primary: 225 7% 12%;
    --primary-foreground: 0 0% 100%;

    --tonal: 174 100% 40%;
    --tonal-foreground: 174 100% 12%;

    --secondary: 173.02 100% 16.86%;
    --secondary-foreground: 0 0% 100%;

    --accent: 173.55 100% 36.47%;
    --accent-foreground: 0 0% 100%;

    --destructive: 349.66 99.02% 40.2%;
    --destructive-foreground: 0 0% 100%;

    --utility: 216 14.29% 93.14%;
    --input: 216 14.29% 93.14%;
    --input-background: 216 14.29% 93.14%;
    --input-foreground: 225 7% 12%;
    --border: 0 0% 82%;
    --ring: 174, 100%, 24%;
    --radius: 0.5rem;

    --android-background: 249 249 255;
    --android-foreground: 0 0 0;
    --android-card: 255 255 255;
    --android-card-foreground: 24 28 35;
    --android-popover: 215 217 228;
    --android-popover-foreground: 0 0 0;
    --android-primary: 0 112 233;
    --android-primary-foreground: 255 255 255;
    --android-secondary: 176 201 255;
    --android-secondary-foreground: 20 55 108;
    --android-muted: 193 198 215;
    --android-muted-foreground: 65 71 84;
    --android-accent: 169 73 204;
    --android-accent-foreground: 255 255 255;
    --android-destructive: 186 26 26;
    --android-destructive-foreground: 255 255 255;
    --android-border: 215 217 228;
    --android-input: 210 210 215;
    --android-ring: 215 217 228;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 225 47% 2%;
      --foreground: 225 29% 98%;

      --muted: 195 33% 15%;
      --muted-foreground: 195 12% 60%;

      --popover: 225 47% 3%;
      --popover-foreground: 225 29% 99%;

      --card: 225 6.67% 11.76%;
      --card-foreground: 0 0% 100%;

      --primary: 0 0% 100%;
      --primary-foreground: 225 40% 1.96%;

      --secondary: 195 7% 12%;
      --secondary-foreground: 195 7% 72%;

      --tonal: 174 100% 12%;
      --tonal-foreground: 174 100% 40%;

      --accent: 173.82 100% 40%;
      --accent-foreground: 225 40% 1.96%;

      --destructive: 349.66 99.02% 40.2%;
      --destructive-foreground: 0 0% 100%;

      --utility: 216 14.29% 93.14%;
      --input: 174.1 100% 23.92%;
      --input-background: 174.1 100% 23.92%/20%;
      --input-foreground: 225 99% 98%;

      --border: 225 8% 10%;
      --ring: 174.1 47% 90%;

      --android-background: 0 0 0;
      --android-foreground: 255 255 255;
      --android-card: 16 19 27;
      --android-card-foreground: 224 226 237;
      --android-popover: 39 42 50;
      --android-popover-foreground: 224 226 237;
      --android-primary: 3 133 255;
      --android-primary-foreground: 255 255 255;
      --android-secondary: 28 60 114;
      --android-secondary-foreground: 189 209 255;
      --android-muted: 216 226 255;
      --android-muted-foreground: 139 144 160;
      --android-accent: 83 0 111;
      --android-accent-foreground: 238 177 255;
      --android-destructive: 147 0 10;
      --android-destructive-foreground: 255 255 255;
      --android-border: 39 42 50;
      --android-input: 55 55 57;
      --android-ring: 39 42 50;
    }
  }
}
